html{
    position: absolute;
    top: -21px;
    width: 100%;
}

body{
    height: 100%;
    padding: 0px;
    margin: 0px;
}

#list_items{
    list-style-type: none;
    background-color: rgb(220,220,220);
    position: sticky;
    top: 0px;
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 0px;
    z-index: 5;
}

li{
    display: inline;
    float: left;
}

button{
    display: block;
    background-color: rgb(220,220,220);
    border: none;
    padding: 10px;
    height: 50px;
}

#H, #C, #EDU, #EXP, #P{
    border: none;
    position: relative;
    padding: 10px;
    height: 1000px;
}

#header{
    background-color: blue;
    color: white;
    height: 100%;
    position: relative;
    height: 100px;
    padding: 7.5px;
    margin-top: 20px;
}

#date{
    position: absolute;
    top: 20px;
    right: 20px;
}